# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.{js,jsx}]
indent_style = space
indent_size = 4

[*.{json, yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
